*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 4vh;
    background-image: url("../imagens/restaurante_vertical.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn.btn-primary{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(198, 198, 198);
    color: rgb(78, 78, 69);
    opacity: 0.9;
    font-size: 2vh;
    font-weight: 700;
    width: 30vw;
    height: 5vh;
    border: none;
}

h1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 70vw;
    text-align: center;
    color: rgb(236, 235, 211);
    text-shadow: 2px 2px #000;
    border-radius: 10px;
}

h2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: auto;
    text-align: center;
    background-color: rgba(198, 198, 198, 0.805);
    color: rgb(255, 255, 242);
    text-shadow: 5px 5px 5px #000;
    border-radius: 10px;
}

.wrap_cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: -15px;
    margin-bottom: 8vh;
}

.card{
    opacity: 0.95;
}

.card-body{
    background-color: rgba(140, 140, 88, 0.353);
}

@media (width >= 800px){
    body{
        background-image: url(../imagens/restaurante-horizontal.jpg);
    }
    
    .wrap_cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 7vh;
        gap: 5vw;
    }

    h1{
        width: 25vw;
    }
    h2{
        width: 70vw;
        background-color: rgba(0, 0, 0, 0);
    }

    .btn.btn-primary{
        width: 20vw;
        font-size: 2.5vh;
    }
}