*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-image: url("../imagens/restaurante_vertical.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    transition: all 1s linear;
    overflow: hidden;
}

.wrap_evertinhg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    height: 100%;
    width: 100%;
}